.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../Images/anhhoctap.jpg);
}

.btn-home {
    float: right;
    margin-top: -26px;
    margin-right: 4px;
}

.dangnhap-content {
    margin-top: 16px;
    margin-left: 16px;
}

.img-dangnhap {
    border-radius: 10px;
}

.khung-dangnhap {
    width: 30%;
    height: 460px;
    background-color: rgb(213, 243, 243);
    opacity: 0.95;
    margin-top: 40px;
    margin-right: 25px;
    box-shadow: 0 3px 10px 0 rgba(17, 17, 17, 0.4);
    border-radius: 4px;
}

.list-dangnhap {
    list-style-type: none;
}

.tieude {
    font-size: 26px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: -20px;
}

.btn-tk {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 16px;
    outline-color: rgb(197, 0, 35);
}

.btn-mk {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    margin: 16px 0;
    outline-color: rgb(197, 0, 35);
}

.nut-dangnhap {
    width: 86%;
    padding: 8px;
    font-size: 14px;
    margin: 16px 0;
    color: #fff;
    background-color: rgb(197, 0, 35);
    opacity: 0.9;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.nut-dangnhap:hover {
    opacity: 1;
}

.quenmk,
.sms {
    font-size: 12px;
    text-decoration: none;
    font-weight: 10px;
    letter-spacing: 1px;
    word-spacing: -6px;
    color: blue;
}

.quenmk:hover,
.sms:hover {
    color: rgb(197, 0, 35);
}

.sms {
    padding-left: 50px;
}

.hoac {
    display: flex;
    align-items: stretch;
    margin-top: 16px;
}

.gach {
    width: 100px;
    height: 1px;
    border: none;
    background-color: #000;
    margin-top: 8px;
    flex: 2;
}

.gach2 {
    margin-right: 40px;
}

.gach-text {
    flex: 0.7;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin: 0 6px;
}